<div class="bg-card py-16 px-gutter">
    <h1 class="display-1 mt-12 mb-4 text-center">Getting Started</h1>
    <h2 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">Far far away, behind the word mountains, far from
      the countries Vokalia and Consonantia, there live the blind texts.</h2>
  </div>

  <div class="my-12 container"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="start start"
     fxLayoutAlign.xs="start stretch"
     fxLayoutGap="24px">
  <div class="card p-6" fxFlex fxFlex.xs="auto">