<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <h2 *ngIf="form.get('idDeber').value" class="headline m-0" fxFlex="auto">Actualizar registro</h2>
    <h2
      *ngIf="!form.get('idDeber').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nuevo registro
    </h2>

    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
      (click)="validarVacio()">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field class="mt-6" fxFlex>
        <mat-label>Título</mat-label>
        <input  type="text" formControlName="nombreDeber"    matInput>
        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
        
      </mat-form-field>
      <mat-form-field class="mt-6" fxFlex>
        <mat-label>Descripción del deber</mat-label>
          <textarea formControlName="descripcionDeber" rows="4" matInput></textarea>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field class="mt-6" fxFlex>
        <mat-label>Calificación</mat-label>
        <input #lengthHint maxlength="10" type="text" formControlName="calificacionDeber"  required matInput>
        <mat-icon [icIcon]="icPhone" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>    
    </div>
  </mat-dialog-content>
  <div class="mt-6" >
    <mat-label>Deber</mat-label>
    <div class="file">
       <label class="file-label">
        <ngx-dropzone (change)="onSelect($event)">
          <ngx-dropzone-label>Selecciona el deber</ngx-dropzone-label>
          <ngx-dropzone-preview value="dowloadURL" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
         <span class="file-cta">
           <span class="file-icon">
             <i class="fa fa-upload"></i>
           </span>
           <span class="file-label">
           </span>
         </span>
       </label>
     </div>
  </div>
<div *ngIf="percentage | async as pct">

<progress class="progress is-info" 
         [value]="pct" 
         max="100">        
</progress>
{{ pct | number }}%
</div>
<div *ngIf="(snapshot | async) as snap">
{{ snap.bytesTransferred }} of {{ snap.totalBytes }} 

</div> 
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="validarVacio()" type="button">CANCELAR</button>
    <button onLoad="setTimeout('window.close()',5)"  *ngIf="isCreateMode()" color="primary" mat-button type="submit">
      GUARDAR <!--[disabled]="form.invalid"-->
    </button>
    <button   *ngIf="isUpdateMode()" color="primary" mat-button type="submit">
      ACTUALIZAR
    </button>
  </mat-dialog-actions>
</form>

